In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
iris=pd.read_csv('iris.csv')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
iris.shape

(150, 5)

In [4]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [7]:
iris.describe

<bound method NDFrame.describe of      sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]>

In [11]:
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [12]:
#since species is object convert into numbers
iris.replace('Iris-setosa',1,inplace=True)
iris.replace('Iris-versicolor',2,inplace=True)
iris.replace('Iris-virginica',3,inplace=True)

In [13]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        1
1           4.9          3.0           1.4          0.2        1
2           4.7          3.2           1.3          0.2        1
3           4.6          3.1           1.5          0.2        1
4           5.0          3.6           1.4          0.2        1

In [23]:
col_select=[120]
data1 = iris.iloc[col_select,:]   
data1

     sepal_length  sepal_width  petal_length  petal_width  species
120           6.9          3.2           5.7          2.3        3

In [24]:
#dividing into data and labels
data=iris.drop('species',axis=1)

In [25]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [26]:
labels=iris['species']
labels

0      1
1      1
2      1
3      1
4      1
      ..
145    3
146    3
147    3
148    3
149    3
Name: species, Length: 150, dtype: int64

In [27]:
#splitting the data into training and testing set
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(data, labels, test_size=0.2)

In [32]:
#using knn for training
from sklearn.neighbors import KNeighborsClassifier

In [39]:
knn=KNeighborsClassifier(n_neighbors=2)

In [40]:
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=2)

In [41]:
knn.predict(X_test)

array([3, 3, 3, 1, 3, 2, 3, 2, 2, 3, 2, 2, 3, 2, 2, 2, 1, 2, 2, 1, 1, 3,
       3, 3, 3, 2, 2, 3, 3, 2], dtype=int64)

In [42]:
knn.score(X_test,y_test)

0.9333333333333333

In [43]:
from sklearn.metrics import confusion_matrix

In [44]:
y_pred=knn.predict(X_test)

In [45]:
confusion_matrix(y_test,y_pred)

array([[ 4,  0,  0],
       [ 0, 11,  0],
       [ 0,  2, 13]], dtype=int64)

By using the Kneighborsclassifier we are getting a score of 94%.